<nav class="navbar navbar-expand navbar-dark bg-dark">

    <a href="#" class="navbar-brand">Stephen Peters</a>


    <div    id="navbarSupportedContent">
        <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item">
                <a href="#" id="home" class="nav-link">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span class="d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="about" class="nav-link">
                    <fa-icon [icon]="faAddressCard"></fa-icon>
                    <span class="d-none d-sm-inline">About Me</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="projects" class="nav-link">
                    <fa-icon [icon]="faBriefcase"></fa-icon>
                    <span class="d-none d-sm-inline">My Work</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" id="contact" class="nav-link">
                    <fa-icon [icon]="faLink"></fa-icon>
                    <span class="d-none d-sm-inline">Connect</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
