<!--
<fa-icon [icon]="faHome"></fa-icon>
<fa-icon [icon]="faAddressCard"></fa-icon>
<fa-icon [icon]="faBriefcase"></fa-icon>
<fa-icon [icon]="faLink"></fa-icon>
-->

    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation" data-target="navbarLinks">
            <div class="navbar-brand">
                <a href="#" class="navbar-item">
                    Stephen Peters
                </a>
                <a (click)="toggleNavbar()" role="button" #navBurger aria-label="menu" aria-expanded="false"
                    class="navbar-burger burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarLinks" class="navbar-menu" #navMenu>
                <div class="navbar-end">
                    <a id="home" [routerLink]="['']" class="navbar-item">Home</a>
                    <a id="about" [routerLink]="['/about']" class="navbar-item">About Me</a>
                    <a id="projects" [routerLink]="['/projects']" class="navbar-item">My Work</a>
                    <a id="contact" [routerLink]="['/contact']" class="navbar-item">Contact Me</a>
                </div>
            </div>

        </nav>
    </div>
