<section class="contact hero">
    <div class="hero-body">
        <main class="container">
            <h2 class="title contact-heading">Contact Me</h2>
            <h3 class="subtitle contact-heading">Feel free to contact me at these social media links:</h3>

            <div class="card">
                <div class="card-content">
                    <p class="title">Social Media</p>
                    <p class="subtitle">Social Media Handle?</p>
                </div>
            </div>
        </main>
    </div>
    
</section>
