#about {
    background-color: #659DBD;
    
    
   
    height: 95.6vh;
    margin: 0;
    display: grid;
    grid-template-rows: 37% 33% auto;
    grid-template-columns: auto;
}

.jumbo-container {
    grid-row-start: 2;;
}