#about {
    background-color: #FCCAAF;
    color: #22306C;
    height: 110%;
    padding-bottom: 10%;
}

.card-image>figure {
    background-color: #FCCAAF;
    box-shadow: none;
    outline-color: #FCCAAF;
}

