<section id="about" class="columns is-centered">
    <div class="container">

        <main class="column">

            <h1 class="title is-1">About Me</h1>

            <div class="column is-one-third-mobile is-one-third-widescreen is-half-desktop is-half-tablet ">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img class="is-rounded"
                                src="https://res.cloudinary.com/dmkct6wfu/image/upload/v1607970295/2020Portfolio/IMG-0671-croppedsm.jpg"
                                alt="#">
                        </figure>
                    </div>
                </div>
            </div>
            <p
                class="column is-size-3-fullhd is-size-3-widescreen is-size-3-desktop is-size-4-tablet is-size-4-touch block">
                Hi, I'm Stephen. I am a web developer who has built a lot of doo dads using JavaScript, mostly with
                React.
                I've also built things using Node/Express and Postgres, and I've dabbled with Django. Some time ago,
                I've used jQuery,
                but I'm also fairly well versed in Vanilla JavaScript. This portfolio is the result of experimenting
                with Angular and BulmaCSS.
            </p>

            <p
                class="column is-size-3-fullhd is-size-3-widescreen is-size-3-desktop is-size-4-tablet is-size-4-touch block">
                I decided to learn how to code a few years ago because I always wanted to learn to
                program the powerful machines that we can now hold in our palms.
                I was always interested in technology and finally decided to take the dive. Before that,
                I received a degree in social science from the City College of New York.
            </p>

            <p
                class="column is-size-3-fullhd is-size-3-widescreen is-size-3-desktop is-size-4-tablet is-size-4-touch block">
                When I'm not coding, I enjoy making pizza from scratch, playing videogames and learning more about retro
                game emulation.
            </p>
        </main>
        <!--         <div class="column">
            <section class="column is-half-desktop is-half-widescreen is-full-mobile">
                <h3 class="column subtitle is-3 has-text-weight-medium">
                    Techonologies I've Completed Projects With:
                </h3>
                <ul>
                    <li class=" is-size-4-fullhd is-size-4-widescreen is-size-4-desktop is-size-5-tablet is-size-5-touch"
                        *ngFor="let item of completedTech">{{item}}</li>
                </ul>
            </section>

            <section class="column is-one-quarter-desktop is-one-quarter-widescreen is-full-mobile">
                <h3 class="column subtitle is-3 has-text-weight-medium">
                    <br>
                    Technologies I've dabbled with:
                </h3>

                <ul>
                    <li class=" is-size-4-fullhd is-size-4-widescreen is-size-4-desktop is-size-5-tablet is-size-5-touch"
                        *ngFor="let item of experimentedTech">{{item}}</li>
                </ul>
            </section>
        </div> -->
        <div class="columns container is-multiline is-centered" *ngFor="let list of techLists">
            <div class="column  is-four-fifths-mobile is-two-fifths-widescreen is-two-fifths-desktop is-half-tablet">
                <div class="card column">
                    <div class="card-header">
                        <div class="card-header-title">{{list.title}}</div>
                    </div>
                    <div class="card-content">
                        <ul>
                            <li *ngFor="let item of list.techs">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>



    </div>







</section>