.project-item{
    list-style-type: none;
    display: inline;
}

.project-description {
    height: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.projects {
    background-color: #4ABDAC;
    color: #22306C;
  
    
}