<section class="content">
    <h1>{{pageTitle}}</h1>
    <main class="container">
        <div class="columns is-multiline is-8"*ngIf='projects && projects.length'>
            
            <div 
                class="column is-full-mobile is-one-third-desktop is-half-tablet" *ngFor="let project of projects"
            >
                <div class="card">
                    <div class="card-image">
                            <figure class="image is-4by3">
                                <img [src]='project.imgUrl' alt="#">
                            </figure>
                    </div>
                    <div class="card-content">
                        
                        <div>
                            <p class="title is-4">{{project.projectName}}</p>
                            <p class="subtitle is-6">Made using {{project.technologies}}.</p>
                        </div>
                        
                        <div >
                            <p>{{project.description}}</p>
                        </div>
                        
                    </div>
                    <footer class="card-footer">
                        <a href={{project.githubLink}} target="_blank" class="card-footer-item">View Code</a>
                        <a href={{project.appLink}} target="_blank"  class="card-footer-item">View App</a>
                    </footer> 
                  
                </div>

            </div>
         
           

        </div>
        
    </main>
</section>

