<!-- <section id="home" >
    <section class="container jumbo-container">
        <main class="jumbotron">
            <h1>Hi, I'm Stephen</h1>
            <p>This is my portfolio of work</p>
            <section class="container">
                <section class="row">
                    <div class="col-md-4 col-lg-12">
                        <button type="button" class="btn btn-primary btn-lg col-sm soc-btn">LinkedIn</button>
                        <button type="button" class="btn btn-primary btn-lg col-sm soc-btn">Twitter</button>
                        <button type="button" class="btn btn-primary btn-lg soc-btn">Github</button>
                        <button type="button" class="btn btn-primary btn-lg soc-btn">FreeCodeCamp</button>     
                    </div>
                     
                </section>    
            </section> 
            
            
        </main>
    </section>
</section> -->
<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="title">
          Fullheight hero with navbar
        </p>
      </div>
    </div>
  </section>
