.hero {
    background: black url(https://res.cloudinary.com/dmkct6wfu/image/upload/v1602196174/2020Portfolio/westfield-4321233.jpg) center/cover;
}

.jumbo-container {
    grid-row-start: 2;
}

.soc-btn {
    width: 12rem;
}