
#home {
    background-image: url('https://res.cloudinary.com/dmkct6wfu/image/upload/v1602196174/2020Portfolio/westfield-4321233.jpg');
    background-attachment: fixed;
    background-position: center;
    
    background-repeat: 'no-repeat';
    background-size: cover;
    height: 95.6vh;
    margin: 0;
    display: grid;
    grid-template-rows: 37% 33% auto;
    grid-template-columns: auto;
}

.jumbo-container {
    grid-row-start: 2;;
}

.soc-btn {
    width: 12rem;
}